<main style="text-align: center;">
	<p id="notice"><%= notice %></p>

	<p>
	<h4>登録情報</h4>
  	<strong>アーティスト:</strong>
  	<%= @artist.artist %>
	</p>

	<%= link_to '編集', edit_admin_artist_path(@artist),class: "btn btn-success" %> |
	<%= link_to '戻る', admin_artists_path,class: "btn btn-default" %>
</main>