<main>
<div class="history-area">
  	<p class="title-center">＜購入履歴＞</p>
    <div class="history-box">
      <div class="history-contents">
        <p class="bold">購入者</p>
        <%#= order.users.name %>
        <p>ああああああ</p>
        <p class="bold">購入日時</p>
        <%#= order.users.name %>
        <p>2018/7/5/12:05</p>
        <p class="bold">購入内容</p>
        <%#= order.cart_items %>
        <p>title1 3000円</p>
        <p>title2 3000円</p>
        <p class="bold">総計</p>
        <p>6000円</p>
        <p class="bold">送付先</sp>
        <p>111-1111</p>
        <p>○○県××市△△町2-22-2</p>
        <p class="bold">ステータス</p>
        <p>出荷前 or 済み</p>
      </div>
　　 </div>

    <div class="history-box">
      <div class="history-contents">
        <p class="bold">購入者</p>
        <%#= order.users.name %>
        <p>ああああああ</p>
        <p class="bold">購入日</p>
        <%#= order.users.name %>
        <p>2018/7/5/12:05</p>
        <p class="bold">購入内容</p>
        <%#= order.cart_items %>
        <p>title1 3000円</p>
        <p>title2 3000円</p>
        <p class="bold">総計</p>
        <p>6000円</p>
        <p class="bold">送付先</p>
        <p>111-1111</p>
        <p>○○県××市△△町2-22-2</p>
        <p class="bold">ステータス</p>
        <p>出荷前 or 済み</p>
      </div>
　　 </div>
  </div>

  <div class="block">
  <button type="button" class="btn btn-primary">
      <p class="buttonwidth">戻る</p>
      </button>

</div>
</main>