.user-table1{
    width: 200px;
}
.user-table2{
    width: 300px;
}
.user-table3{
    width: 200px;
}

main{
	width: 900px;
	margin: 0 auto;
}
.buttonwidth{
	margin: 0 20px;
    color: white;
}
.text-center{
	text-align: center;
}
.user-account-box{
    margin: 0 auto;
	width: 600px;
	padding: 20px;
	border: 1px solid;
	background-color: #eeeeeee;
}
.user-account-columns{
	margin-bottom: 20px;
}
.bold{
	font-weight: bold;
}
.input-area{
    display: inline-block;
	margin: 0 auto;
}
.input-form-show{
	width: 500px;
	height: 30px;
	background-color: #C0C0C0;
	border: 1px solid;
}
.right{
	display: block;
	text-align: right;
}
.block{
	display: block;
	text-align: center;
	margin-top: 10px;
    margin-bottom: 50px;
}
.history-area{
	width: 600px;
	margin: 0 auto;
}
.history-box{
	width: 450px;
    padding: 10px;
    margin: 0 auto 30px auto;
    border: 1px solid;
    background-color: #eeeeee;
}
.title-center{
	text-align: center;
    font-size: 20px;
}
.edit-useraccount{
	width: 500px;
	height: 30px;
	text-overflow: scroll;
}