<div class="nested-fields ">
  <div class="form-group">
    <%= f.label :song_title %>

	    <!--             <table>
                        <tbody>
                            <tr>
                                <th>曲順</th>
                                <th>曲名</th>
                            </tr>
                            <tr>
                                <td> disc.text_field :disc_name,class:"form-control" %></td>
                                <td> disc.text_field :song_title, class:"form-control" %></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table> -->
        <%= link_to_remove_association "songを削除", f, class: 'btn btn-primary' %>
  </div>
</div>