<div class="nested-fields form-inline">
  <div class="form-group">
  	<table>
  		<tbody>
  			<tr>
  				<th>曲順</th>
  				<th>曲名</th>
  				<th>音源ファイル</th>
 			</tr>
  			<tr>
  				<td><%= f.text_field :song_order, class:"form-control" %></td>
  				<td><%= f.text_field :song_title, class:"form-control" %></td>
  				<td><%= f.file_field :audio %></td>
  				<td><%= link_to_remove_association "songを削除", f, class: 'btn btn-primary' %></td>
  			</tr>
  		</tbody>
  	</table>
  </div>
</div>