<h2>管理者商品編集</h2>

<div class="container"> <!-- ここを追加 -->
    <div class="row" style="background-color: #EEEEEE">   <!-- ここを追加 -->
    	<div class="col-lg-3" style="background-color: red">
    		<div>
                <p>
                    画像
                </p>

    			<button type="button" id="sampleButtonSingleToggle" class="btn btn-primary" data-toggle="button" autocomplete="off">
                画像選択
            </button>
    		</div>

    	</div>
    	<div class="col-lg-4" style="background-color: green">
    		<p>タイトル</p>
            <div style="background-color: white">はこ</div>
            <p>アーティスト名</p>
            <div style="background-color: white">プルダウン</div>
            <p>値段</p>
            <div style="background-color: white">プルダウン</div>
            <p>ジャンル</p>
            <div style="background-color: white">プルダウン</div>
            <p>レーベル</p>
            <div style="background-color: white">プルダウン</div>
            <p>ステータス</p>
            <div style="background-color: white">はこ</div>
            <p>在庫数</p>
            <div style="background-color: white">はこ</div>
            <button type="button" id="sampleButtonSingleToggle" class="btn btn-primary" data-toggle="button" autocomplete="off">
                戻る
            </button>
            <button type="button" id="sampleButtonSingleToggle" class="btn btn-primary" data-toggle="button" autocomplete="off">
                更新
            </button>

    	</div>

    	<div class="col-lg-5" style="background-color: blue">
    		<p>disc1</p>
            <button type="button" id="sampleButtonSingleToggle" class="btn btn-primary" data-toggle="button" autocomplete="off">
                追加
            </button>
            <div>
                <p>曲順</p>
                <div style="background-color: white">はこ</div>
            </div>
            <div>
                <p>曲名</p>
                <div style="background-color: white">はこ</div>
            <button type="button" id="sampleButtonSingleToggle" class="btn btn-primary" data-toggle="button" autocomplete="off">
                追加
            </button>
            </div>
            <button type="button" id="sampleButtonSingleToggle" class="btn btn-primary" data-toggle="button" autocomplete="off">
                削除
            </button>
            

    	</div>

