<h2>管理者商品検索</h2>

<div class="container"> <!-- ここを追加 -->
    <div class="row" style="background-color: #EEEEEE">   <!-- ここを追加 -->
        <div class="col-lg-2" style="background-color: red">
        </div>
        <div class="col-lg-4" style="background-color: green">
            <div style="float:left">
               <p>imageadafsdfs</p>
            </div>
        </div>
        <div class="col-lg-2" style="background-color: green">
            <div style="float:left">
                <p>タイトル</p>
                <p>abc</p>
                <p>アーティスト名</p>
                <p>abc</p>
                <p>値段</p>
                <p>1000円</p>
                <p>ジャンル</p>
                <p>abc</p>
                <p>レーベル</p>
                <p>abc</p>
                <p>在庫</p>
                <p>有/無</p>
            </div>
        </div>
        <div class="col-lg-2" style="background-color: lightblue">
            <%= link_to "まだ編集ページに飛んでない", admin_titles_path, class:"btn btn-primary" %><br>
            <%= link_to "まだ削除アクションに飛んでない", admin_titles_path, class:"btn btn-primary" %>
        </div>
        <div class="col-lg-2" style="background-color: blue">
        </div>
    </div>
</div>
<div class="container"> <!-- ここを追加 -->
    <div class="row" style="background-color: #EEEEEE">
        <div class="col-lg-3" style="background-color: red">
        </div>
        <div class="col-lg-5" style="background-color: blue">
        </div>
        <div class="col-lg-2" style="background-color: lightgreen">
            <%= link_to "戻る", admin_titles_path, class:"btn btn-primary"%>
        </div>
    </div>
</div>

        <p>ページネーション</p>

