<h1>test</h1>

<div class="container"> <!-- ここを追加 -->
    <div class="row" style="background-color: #EEEEEE">   <!-- ここを追加 -->
    	<div class="col-lg-3" style="background-color: red">


    	</div>
    	<div class="col-lg-6" style="background-color: green">
            <div style="float:left">
               <p>imageadafsdfs</p>
            </div>
            <div style="float:left">
                <p>タイトル</p>
                <p>abc</p>
                <p>アーティスト名</p>
                <p>abc</p>
                <p>値段</p>
                <p>1000円</p>
                <p>ジャンル</p>
                <p>abc</p>
                <p>レーベル</p>
                <p>abc</p>
                <p>在庫</p>
                <p>有/無</p>
            </div>
            <div style="float:left">
                <p style="float:left">xxx枚</p>
                <button type="button" id="sampleButtonSingleToggle" class="btn btn-primary" data-toggle="button" autocomplete="off">
                カートに入れる
                </button>

            </div>

    	</div>

    	<div class="col-lg-3" style="background-color: blue">
    	</div>
    </div>
</div>

        <p>ページネーション</p>

