<h2>ユーザー商品詳細</h2>

<div class="container"> <!-- ここを追加 -->
    <div class="row" style="background-color: #EEEEEE">   <!-- ここを追加 -->
    	<div class="col-lg-2" style="background-color: red">
    	</div>
        <div class="col-lg-4" style="background-color: lightblue">
                <p>
                    画像a;kflsdfj;dklsfa
                </p>
            </div>
    	<div class="col-lg-2" style="background-color: lightgreen">
    		<p>タイトル</p>
            <p>abcde</p>
            <p>アーティスト名</p>
            <p>abcde</p>
            <p>値段</p>
            <p>10000000円</p>
            <p>ジャンル</p>
            <p>abc</p>
            <p>レーベル</p>
            <p>abcd</p>
            <p>在庫状況</p>
            <p>有 or 無</p>
        </div>
        <div class="col-lg-2" style="background-color: orange">
            <div style="float:left">
                <p>??枚</p>
             <%= link_to "カートに追加", new_user_cart_item_path, class:"btn btn-primary"%>
        </div>

    	</div>

    	<div class="col-lg-2" style="background-color: blue">
            <%= link_to "カート詳細へ", user_cart_items_path, class:"btn btn-primary"%>
    	</div>
    </div>
</div>

<div class="container"> <!-- ここを追加 -->
    <div class="row" style="background-color: #CCCCCC">   <!-- ここを追加 -->
        <div class="col-lg-2" style="background-color: red">
        </div>
        <div class="col-lg-4" style="background-color: green">
            <h3>DISC1</h3>
            <p>試聴</p>
            <table>
                <tbody>
                    <tr>
                        <td>曲名1</td>
                        <td>
                            <button type="button" id="sampleButtonSingleToggle" class="btn btn-primary" data-toggle="button" autocomplete="off">
                             ▶︎
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>曲名2</td>
                        <td>
                            <button type="button" id="sampleButtonSingleToggle" class="btn btn-primary" data-toggle="button" autocomplete="off">
                             ▶︎
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-4" style="background-color: green">
            <h3>DISC2</h3>
            <p>試聴</p>
            <table>
                <tbody>
                    <tr>
                        <td>曲名1</td>
                        <td>
                            <button type="button" id="sampleButtonSingleToggle" class="btn btn-primary" data-toggle="button" autocomplete="off">
                             ▶︎
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-2" style="background-color: blue">
            <%= link_to "戻る", root_path, class:"btn btn-primary"%>
        </div>
    </div>
</div>



