<main>
  <div class="user-account-box">
  	<div class="input-area">
    
    <div class="user-account-columns">
      <p class="bold">名前</p>
        <input type="text" value="ああああああ" class="edit-useraccount" placeholder="">
    </div>
    <div class="user-account-columns">
      <p class="bold">名前（カナ）</p>
      <input type="text" value="アアアアアア" class="edit-useraccount" placeholder="">
    </div>
    </div>
    <div class="user-account-columns">
      <p class="bold">郵便番号</p>
        <input type="text" value="111-1111" class="edit-useraccount" placeholder="">
        </div>
    <div class="user-account-columns">
      <p class="bold">住所</p>
        <input type="text" value="○○県△△氏××町2-22-2" class="edit-useraccount" placeholder="">
        </div>
    <div class="user-account-columns">
      <p class="bold">電話番号</p>
      <input type="text" value="98912345678" class="edit-useraccount" placeholder="">
      </div>
    <div class="user-account-columns">
      <p class="bold">メールアドレス</p>
        <input type="text" value="aaa@aaaaa" class="edit-useraccount" placeholder="">
        </div>
    <div class="user-account-columns">
      <p class="bold">パスワード</p>
        <input type="text" value="*********" class="edit-useraccount" placeholder="">
        </div>
    <div class="right">
      <button type="button" class="btn btn-primary">
      <p class="buttonwidth">更新</p>
      </button>
      <button type="button" class="btn btn-primary">
      <p class="buttonwidth">削除</p>
      </button>
    </div>
  </div>
　<div class="block">
  <button type="button" class="btn btn-primary">
      <p class="buttonwidth">戻る</p>
      </button>


</main>