<div class="main">

<table class="table table-bordered">
  <tr>
  	<th class="user-table1 text-center">ユーザー名</th>
  	<th class="user-table2 text-center">メールアドレス</th>
  	<th class="user-table3 text-center"></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td class="user-table1">
        <%= user.name %>
      </td>
      <td class="user-table2">
        <%= user.email %>
      </td>
      <td class="user-table3">
        <%= link_to admin_user_path(user.id), class: "btn btn-primary" do %>
            <p class="buttonwidth">詳細</p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to :back, class: "btn btn-primary" do %>
  <p class="buttonwidth">戻る</p>
<% end %>

</div>