.title-contents{
	width: 200px;
	float: right;
}
.jacket-box{
    float:left;
}
#box{
	width: 450px;
	float: left;
}


.cart-item-box{
	width: 450px;
    padding: 10px;
    margin-bottom: 30px;
    border:1px solid;
}
.cart-text{
    width: 400px;
	float: left;
	margin-left: 50px;
}
.address-list{
	margin-bottom: 20px;
}
.delivery-address-input{
	width: 300px;
	height: 30px;
	text-overflow: scroll;
}
.cart-delete{
    margin-bottom: 30px;
	text-align: center;
}